<div class="container-fluid menu">
    <div class="navbar-header">
      <a href="#" id="ver_presentacion" (click) = "elegirVista(0)" data-que-mostrar="div_presentacion" class="navbar-brand">MIRLC</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#" id="ver_alta" data-que-mostrar="div_form" (click) = "elegirVista(1)" class="links-menu">Ver Portfolios</a></li>
        <li><a href="#" id="ver_elimninar" data-que-mostrar="div_form" (click) = "elegirVista(2)" class="links-menu">Gestionar Portfolios</a></li>
      </ul>
      <form class="navbar-form navbar-left navbar-dark bg-dark" action="/action_page.php">
      </form>
    </div>
  </div>