<!--<div class="container-fixed">
  <div class="row">
    <div class="col-md-2 col-md-offset-2 nopadding">
      <input type="text" 
      [placeholder] = "placeholder_nombre"
      [(ngModel)] = "nombreIntroducido"  
      />
    </div>
    <div class="col-md-6 nopadding">
      <div style="background-color: blue">HOLI 2
        <div class="row">
          <div class="col-md-6 nopaddingright">
              <div style="background-color: green">Sub holi 1</div>
          </div>
          <div class="col-md-6 nopadding nopaddingright">
              <div style="background-color: greenyellow">Sub holi 2</div></div>
        </div>
      </div>
    </div>
  </div>
</div>-->



<div class="container-fixed row col-md-offset-2 col-md-8">
  
    
  <app-lista></app-lista>

</div>
  
<!-- <p> {{ nombreIntroducido }} </p> -->